.home
  color red

.home__card-container
  display flex
  
.home__card-description
  margin-left 0.5rem

.home__slider-navigation
	border-top 1px solid #dfdfdf
	border-bottom 1px solid #dfdfdf
	margin-bottom 1rem

.home__slider-list
  margin 0
  padding 0
  list-style none
  white-space nowrap
  overflow-x auto
  overflow-y hidden

.home__slider-text
	padding: 0.75rem 0.625rem 0 0.625rem;
	margin-right: 0.75rem;
	color: #da3743;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;